.root {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-2);
  padding-inline: var(--size-horizontal-padding);
  box-shadow: 0 1px 0 var(--color-border);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.group {
  display: flex;
  gap: var(--size-2);
}

.hidden {
  visibility: hidden;
}
