.root {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--size-control);
  block-size: var(--size-control);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-icon);
  border: none;
  border-radius: var(--radius-round);
  background: none;
  outline-offset: 5px;
  cursor: pointer;
  appearance: none;
  user-select: none;
}

.root > svg {
  inline-size: 100%;
  block-size: 100%;
}

.root[disabled] {
  opacity: 0.48;
}

.active {
  color: var(--color-accent);
}
