.root {
  position: relative;
  display: grid;
  min-height: 0;
  background-color: var(--color-surface-1);
}

.editor,
.groups,
.bars {
  gap: var(--size-2);
}

.editor {
  position: relative;
  display: grid;
  grid-template-columns: var(--size-note) 1fr;
  align-items: start;
  padding-inline-end: var(--size-1);
  overflow: auto;
}

.stickyWrapper {
  position: sticky;
  inset-inline-start: 0;
  z-index: 1;
  block-size: 100%;
  background-color: var(--color-highlight);
  -webkit-backdrop-filter: var(--backdrop-blur);
  backdrop-filter: var(--backdrop-blur);
  overflow: hidden;
}

.outOfTheFlowWrapper {
  position: absolute;
  inline-size: 100%;
}

.bars,
.groups {
  padding-block-start: var(--size-1);
  padding-block-end: var(--size-1);
}

.groups {
  display: grid;
  inline-size: var(--size-note);
}

.bars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bar {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--size-1);
}
