.root {
  position: relative;
  background-color: var(--color-surface-1);
  overflow: auto;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  align-items: flex-start;
  padding-block-end: var(--spacing-bar-bottom);
  padding-inline: var(--size-horizontal-padding);
}

.groups {
  position: sticky;
  inset-inline-start: 0;
  z-index: 1;
  flex: none;
  margin-inline-end: var(--size-1);
  padding-block-end: 0;
  padding-inline: var(--size-horizontal-padding) var(--size-1);
}

.groups::before {
  position: absolute;
  inset-block: calc(-1 * var(--size-1)) calc(-1 * var(--spacing-bar-bottom));
  inset-inline-start: 0;
  content: '';
  z-index: -1;
  inline-size: 100%;
  background-color: var(--color-highlight);
  box-shadow: var(--shadow-1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.highlight {
  position: absolute;
  inset-block-start: 0;
  inline-size: var(--size-note);
  block-size: 100%;
  background-color: var(--color-highlight);
  pointer-events: none;
}

.pickerWrapper {
  position: fixed;
  inset-block-end: var(--size-3);
  inset-inline-start: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  inline-size: 100%;
  pointer-events: none;
  transition: transform 0.3s ease-in;
}

.pickerHidden {
  transform: translateY(calc(100% + var(--size-3)));
}

.picker {
  max-inline-size: calc(100% - 2 * var(--size-horizontal-padding));
  pointer-events: auto;
}
