.root {
  position: relative;
  background-color: var(--color-surface-1);
  overflow: auto;
}

.editor,
.groups,
.bars {
  gap: var(--size-2);
}

.editor {
  position: relative;
  display: grid;
  grid-template-columns: var(--size-note) 1fr;
  align-items: start;
}

.stickyWrapper {
  position: sticky;
  inset-inline-start: 0;
  z-index: 1;
  block-size: 100%;
  background-color: var(--color-highlight);
  -webkit-backdrop-filter: var(--backdrop-blur);
  backdrop-filter: var(--backdrop-blur);
  overflow: hidden;
}

.outOfTheFlowWrapper {
  position: absolute;
  inline-size: 100%;
}

.groups {
  display: grid;
  inline-size: var(--size-note);
}

.bars {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-block-end: var(--size-2);
}

/* .pickerWrapper { */

/*  position: fixed; */

/*  inset-block-end: var(--size-3); */

/*  inset-inline-start: 0; */

/*  z-index: 1; */

/*  display: flex; */

/*  justify-content: center; */

/*  inline-size: 100%; */

/*  pointer-events: none; */

/*  transition: transform 0.3s ease-in; */

/* } */

/* .pickerHidden { */

/*  transform: translateY(calc(100% + var(--size-3))); */

/* } */

/* .picker { */

/*  max-inline-size: calc(100% - 2 * var(--size-horizontal-padding)); */

/*  pointer-events: auto; */

/* } */
