:where(html) {
  accent-color: var(--color-accent);
  caret-color: var(--color-accent);
  color: var(--color-text);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
}

:where(body) {
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-surface1);
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--color-text);
}
