:where(html) {
  accent-color: var(--color-accent);
  caret-color: var(--color-accent);
  color: var(--color-text);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
}

:where(body) {
  block-size: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-surface-2);
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--color-text);
}

:where([data-react-root]) {
  isolation: isolate;
  block-size: inherit;
}
