/* OpenProps documentation: https://open-props.style */

/* animations */
@import url('open-props/animations.min.css');

/* easing */
@import url('open-props/easings.min.css');

/* aspects */
@import url('open-props/aspects.min.css');

/* fonts */
@import url('open-props/fonts.min.css');

/* sizes */
@import url('open-props/sizes.min.css');
@import url('open-props/borders.min.css');

/* shadows */
@import url('open-props/shadows.min.css');

:where(html) {
  /* borders */
  --radius-pill: 1e5px;
  --radius-round: 50%;

  /* sizes */
  --size-control: var(--size-7);
  --size-horizontal-padding: var(--size-1);
  --size-icon: var(--size-5);
  --size-note: var(--size-5);

  /* custom spacing */
  --spacing-bars: var(--size-5);
  --spacing-bar-bottom: var(--size-5);

  /* z-index */
  --z-index-drawer: 700;
  --z-index-dialog: 800;
  --z-index-dropdown: 900;
  --z-index-tooltip: 1000;

  /* filters */
  --backdrop-blur: blur(25px);
}

:where(html[data-theme='light']) {
  --color-accent: #05f;
  --color-error: #f03e3e;
  --color-border: #d9d9e8;
  --color-highlight: rgb(0 85 255 / 10%);
  --color-icon: #171a1c;
  --color-overlay: rgb(0 0 0 / 20%);
  --color-surface-1: #f8f9fa;
  --color-surface-2: #e9ecef;
  --color-surface-3: #dee2e6;
  --color-surface-4: #ced4da;
  --color-text: #171a1c;
  --color-thumb-highlight: rgb(0 0 0 / 20%);
  --color-tint: rgb(0 85 255 / 4%);
  --shadow-strength: 1%;
  --shadow-color: 220 3% 15%;

  color-scheme: light;
}

:where(html[data-theme='dark']) {
  --color-accent: #007fff;
  --color-error: #f03e3e;
  --color-border: #394146;
  --color-highlight: rgb(0 127 255 / 20%);
  --color-icon: #e2e6e9;
  --color-overlay: rgb(0 0 0 / 40%);
  --color-surface-1: #212529;
  --color-surface-2: #343a40;
  --color-surface-3: #495057;
  --color-surface-4: #868e96;
  --color-text: #e2e6e9;
  --color-thumb-highlight: rgb(255 255 255 / 7.5%);
  --color-tint: rgb(0 127 255 / 10%);
  --shadow-strength: 25%;
  --shadow-color: 220 40% 2%;

  color-scheme: dark;
}
