.root {
  max-inline-size: unset;
  cursor: pointer;
}

.root use {
  pointer-events: none;
}

/* actions */

.actions {
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  transform: translateY(calc(100% + var(--spacing-bar-bottom)));
}

.actionButton {
  inline-size: 100%;
  border-radius: var(--radius-2);
  background-color: var(--color-tint);
}

.actionButton:active {
  color: var(--color-accent);
}

.actionBar {
  position: absolute;
  inset-block-end: calc(100% + var(--size-1));
  inset-inline-start: 50%;
  color: var(--color-accent);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-4);
  transform: translateX(-50%) scale(0.8);
  transition-property: transform, opacity;
  transition-timing-function: ease-in;
  transition-duration: 0.15s;
}

.actionsBarHidden {
  opacity: 0;
  transform: translateX(-50%) scale(0.8) translateY(50%);
  pointer-events: none;
}

/* time signature */

.timeSignature {
  position: relative;
  margin-inline-start: var(--size-1);
  padding-inline-start: var(--size-1);
  color: var(--color-text);
}

.timeSignature::before {
  position: absolute;
  inset-inline-start: -1px;
  content: '';
  inline-size: 2px;
  block-size: 50%;
  border-radius: var(--radius-pill);
  background-color: var(--color-border);
}
