.root {
  inline-size: var(--size-note);
  block-size: var(--size-note);
  transition-property: opacity, block-size, inline-size;
  transition-timing-function: var(--ease-in-out-1);
  transition-duration: 150ms;
}

.empty {
  opacity: 0.15;
}

.emptyCymbal {
  transform: scale(0.5);
  transform-origin: bottom;
}
