.root {
  --size-control: var(--size-note);

  transition-property: inline-size, block-size;
  transition-timing-function: var(--ease-in-out-1);
  transition-duration: 300ms;
}

.empty {
  opacity: 0.15;
}

.emptyCymbal {
  transform: scale(0.5);
  transform-origin: bottom;
}
