.root {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-1);
  font-weight: var(--font-weight-6);
  cursor: pointer;
}

.input {
  --track-height: 0.5ex;
  --track-fill: 0%;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0;

  display: block;
  inline-size: 100%;
  background: 0 0;
  outline-offset: 5px;
  appearance: none;
}

.input::-webkit-slider-runnable-track {
  block-size: var(--track-height);
  border-radius: 5ex;
  background: linear-gradient(to right, transparent var(--track-fill), var(--color-border) 0%),
    linear-gradient(to bottom, var(--color-accent), transparent) fixed;
  appearance: none;
}

.input::-moz-range-track {
  block-size: var(--track-height);
  border-radius: 5ex;
  background: linear-gradient(to right, transparent var(--track-fill), var(--color-border) 0%),
    linear-gradient(to bottom, var(--color-accent), transparent) fixed;
  appearance: none;
}

.input::-webkit-slider-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: 3px solid var(--color-surface-2);
  border-radius: var(--radius-round);
  background-color: var(--color-accent);
  box-shadow: 0 0 0 var(--thumb-highlight-size) var(--color-thumb-highlight);
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 0.1s ease;
}

.input::-moz-range-thumb {
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  margin-block-start: var(--thumb-offset);
  border: 3px solid var(--color-surface-2);
  border-radius: var(--radius-round);
  background-color: var(--color-accent);
  box-shadow: 0 0 0 var(--thumb-highlight-size) var(--color-thumb-highlight);
  cursor: ew-resize;
  appearance: none;
  transition: box-shadow 0.1s ease;
}

.input:is(:hover, .input :active) {
  --thumb-highlight-size: 10px;
}

.label {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--size-1);
  user-select: none;
}

.inputDecimal {
  inline-size: 3ch;
  padding: 0;
  text-align: center;
  border: none;
  background: 0 0;
  outline-offset: 5px;
  appearance: none;
}

@media (hover: none) {
  .input {
    --thumb-size: 30px;
    --thumb-offset: -14px;
  }
}
