.drawer {
  --easing-drawer: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--z-index-drawer);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hide {
  pointer-events: none;
}

.overlay {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  transition: opacity 0.3s ease-out;
}

.curtain {
  position: relative;
  z-index: 1;
  max-height: calc(100% - var(--size-3));
  border-radius: var(--radius-3);
  background-color: var(--color-drawer);
  box-shadow: 0 50px 0 var(--color-drawer), var(--shadow-5);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.show .overlay {
  /* Drawer полностью открыт уже на 40% от таймлайна анимации, оверлей тоже нужно показать к тому времени */
  animation: show-overlay 0.15ms linear;
}

.show .curtain {
  animation: show-drawer 0.3s var(--easing-drawer);
}

.hide .overlay {
  animation: hide-overlay both 0.15s ease-out;
}

.hide .curtain {
  animation: hide-drawer forwards 0.15s ease-out;
}

.pristine .overlay,
.pristine .curtain {
  animation-duration: 0s;
}

@keyframes show-drawer {
  0% {
    transform: translate3d(0, 100%, 0);
    animation-timing-function: var(--easing-drawer);
  }

  40% {
    transform: translate3d(0, -2.8375%, 0);
    animation-timing-function: var(--easing-drawer);
  }

  75% {
    transform: translate3d(0, 0.0805%, 0);
    animation-timing-function: var(--easing-drawer);
  }

  100% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: var(--easing-drawer);
  }
}

@keyframes hide-drawer {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-overlay {
  to {
    opacity: 0;
  }
}
