/* prettier-ignore */
.tooltip {
  --p-inline: var(--size-2);
  --p-block: var(--size-2);
  --triangle-size: var(--size-2);
  --bottom-tip: conic-gradient(from -30deg at bottom, rgb(0 0 0 / 0%), #000 1deg 60deg, rgb(0 0 0 / 0%) 61deg) bottom / 100% 50% no-repeat;
  --top-tip: conic-gradient(from 150deg at top, rgb(0 0 0 / 0%), #000 1deg 60deg, rgb(0 0 0 / 0%) 61deg) top / 100% 50% no-repeat;
  --right-tip: conic-gradient(from -120deg at right, rgb(0 0 0 / 0%), #000 1deg 60deg, rgb(0 0 0 / 0%) 61deg) right / 50% 100% no-repeat;
  --left-tip: conic-gradient(from 60deg at left, rgb(0 0 0 / 0%), #000 1deg 60deg, rgb(0 0 0 / 0%) 61deg) left / 50% 100% no-repeat;

  position: absolute;
  z-index: 1;
  inline-size: max-content;
  max-inline-size: 25ch;
  padding: var(--p-block) var(--p-inline);
  font-size: var(--font-size-2);
  text-align: start;
  word-break: break-word;
  border-radius: var(--radius-2);
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-4);
  opacity: 0;
  transform: translate(var(--x, 0)) translateY(var(--y, 0));
  user-select: none;
  pointer-events: none;
  transition: opacity .2s ease, transform .2s ease;
}

.tooltip::after {
  position: absolute;
  inset: 0;
  content: '';
  z-index: -1;
  background: var(--color-surface-3);
  -webkit-mask: var(--tip);
  mask: var(--tip);
}

/* top */

.top {
  --x: -50%;

  inset-block-end: calc(100% + var(--p-block) + var(--triangle-size));
  inset-inline-start: 50%;
}

.top::after {
  --tip: var(--bottom-tip);

  inset-block-end: calc(var(--triangle-size) * -1);
  border-block-end: var(--triangle-size) solid transparent;
}

/* right */

.right {
  --y: 50%;

  inset-block-end: 50%;
  inset-inline-start: calc(100% + var(--p-inline) + var(--triangle-size));
}

.right::after {
  --tip: var(--left-tip);

  inset-inline-start: calc(var(--triangle-size) * -1);
  border-inline-start: var(--triangle-size) solid transparent;
}

/* bottom */

.bottom {
  --x: calc(-50%);

  inset-block-start: calc(100% + var(--p-block) + var(--triangle-size));
  inset-inline-start: 50%;
}

.bottom::after {
  --tip: var(--top-tip);

  inset-block-start: calc(var(--triangle-size) * -1);
  -webkit-border-before: var(--triangle-size) solid transparent;
  border-block-start: var(--triangle-size) solid transparent;
}

/* left */

.left {
  --y: 50%;

  inset-block-end: 50%;
  inset-inline-end: calc(100% + var(--p-inline) + var(--triangle-size));
}

.left::after {
  --tip: var(--right-tip);

  inset-inline-end: calc(var(--triangle-size) * -1);
  border-inline-end: var(--triangle-size) solid transparent;
}

:has(> .tooltip) {
  position: relative;
}

:has(> .tooltip):is(:hover, :focus-visible, :active) > .tooltip {
  opacity: 1;
  transition-delay: 0.2s;
}
